@using TicTacToe.Models.Enums
@using TicTacToe.Web.FrameworkExtentions.ViewHelpers
@model TicTacToe.Web.Models.HumanVsHuman.ViewModels.FinishedGameViewModel

@Styles.Render("~/Content/game-style")
@Styles.Render("~/Content/finished-game-style")

@if (Model.GameInfo.GameState == GameState.Draw)
{
    <h4 class="text-center">DRAW</h4>
}
else if (Model.GameInfo.GameState == GameState.Won)
{
    if (Model.GameInfo.WinnerId == Model.GameInfo.HomeSideUserId)
    {
        <h4 class="text-center red-text">@Model.GameInfo.HomeSideUserName WINS</h4>
    }
    else
    {
        <h4 class="text-center blue-text">@Model.GameInfo.AwaySideUserName WINS</h4>
    }
}

<div id="turn-container">
    <h5>Game finished at turn: @(Model.GameInfo.TurnsCount - 1)</h5>
    <h5>Game duration: @Model.GameInfo.GameDuration.Minutes minutes and @Model.GameInfo.GameDuration.Seconds seconds </h5>
</div>

<div id="home-side-container">
    <h4>Home Side - <span class="red">X</span></h4>
    @Model.GameInfo.HomeSideUserName

    @if (Model.GameInfo.GameState == GameState.Won)
    {
        if (Model.GameInfo.WinnerId == Model.GameInfo.HomeSideUserId)
        {
            <h4 class="red-text">YOU WON</h4>
        }
    }
</div>

<div id="grid-container">

    <div id="first-column">
        <div class="tile @Model.GameTiles.ElementAt(0).Value" data-index="0" data-isEmpty="@Model.GameTiles.ElementAt(0).IsEmpty">
            @Model.GameTiles.ElementAt(0).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(1).Value" data-index="1" data-isEmpty="@Model.GameTiles.ElementAt(1).IsEmpty">
            @Model.GameTiles.ElementAt(1).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(2).Value" data-index="2" data-isEmpty="@Model.GameTiles.ElementAt(2).IsEmpty">
            @Model.GameTiles.ElementAt(2).Value
        </div>
    </div>

    <div id="second-column">
        <div class="tile @Model.GameTiles.ElementAt(3).Value" data-index="3" data-isEmpty="@Model.GameTiles.ElementAt(3).IsEmpty">
            @Model.GameTiles.ElementAt(3).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(4).Value" data-index="4" data-isEmpty="@Model.GameTiles.ElementAt(4).IsEmpty">
            @Model.GameTiles.ElementAt(4).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(5).Value" data-index="5" data-isEmpty="@Model.GameTiles.ElementAt(5).IsEmpty">
            @Model.GameTiles.ElementAt(5).Value
        </div>
    </div>

    <div id="third-column">
        <div class="tile @Model.GameTiles.ElementAt(6).Value" data-index="6" data-isEmpty="@Model.GameTiles.ElementAt(6).IsEmpty">
            @Model.GameTiles.ElementAt(6).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(7).Value" data-index="7" data-isEmpty="@Model.GameTiles.ElementAt(7).IsEmpty">
            @Model.GameTiles.ElementAt(7).Value
        </div>
        <div class="tile @Model.GameTiles.ElementAt(8).Value" data-index="8" data-isEmpty="@Model.GameTiles.ElementAt(8).IsEmpty">
            @Model.GameTiles.ElementAt(8).Value
        </div>
    </div>

</div>

<div id="away-side-container">
    <h4>Away Side - <span class="blue">0</span></h4>
    @Model.GameInfo.AwaySideUserName

    @if (Model.GameInfo.GameState == GameState.Won)
    {
        if (Model.GameInfo.WinnerId == Model.GameInfo.AwaySideUserId)
        {
            <h4 class="blue-text">YOU WON</h4>
        }
    }
</div>

<button class="btn btn-primary btn-lg" id="replay-game-button">Replay Game</button>

<input type="hidden" id="finished-game-token" value="@AntiForgeryTokenHelper.GetAntiForgeryToken()" />

@Scripts.Render("~/bundles/finishedComputerVsComputerGameModule")