<!DOCTYPE html>
<html>

<head>
    @Html.Partial("_HeadContent")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajaxCallsModule")
    @Scripts.Render("~/bundles/gameModule")
    @Scripts.Render("~/bundles/loadGameGridModule")
</head>

<body>
    @Html.Partial("_AuthenticatedUserHeader")

    <div id="main-content" class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>